* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    background-color: #c6cbcb;
}

#login {
    width: 25%;
    height: 60%;
    border: 2px solid darkgray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    background-image: radial-gradient(#cfc0c0, #e5dada6b);
}


.btnInput{
    width: 72%;
    height: 5%;
    margin-top: 2%;
    margin-left: 15%;
    border-style: hidden;
    border-radius: 7px;
    font-size: medium;
}

input{
    padding-left: 8%;
    padding-right: 8%;
}

input::placeholder{
    font-size: 15px;
    color: rgb(201, 197, 191);
    align-content: center ;
}

input:focus{
    outline: 2px solid gray;
    outline-offset: 2px;
}


#btnLogar{
    cursor: pointer;
}
