.dlgSimNao{
    position: absolute;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 95%;
    z-index: 11;
}

.btnSimNao{
    position: relative;
    left: 40vh;
    bottom: 4vh;
    width: 12vh;
    height: 3.5vh;
    margin-right: 1vh;
    margin-top: 5%;
    border: none;
    font-size: 2.2vh;
    background-color: #adadad;
}

.dlgErro{
    position: absolute;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 95%;
    z-index: 10;
}

.boxDlg{
    margin-left: 16%;
    margin-top: 30vh;
    width: 70vh;
    height: 30vh;
    border: 1px solid #212529;
    border-radius: 20px;
    background-color: gray;
}

.btnErro{
    position: relative;
    top: 1.5vh;
    left: 66vh;
    font-size: 2.5vh;
    cursor: pointer;
}

.msgErro{
    margin: 3vh 3vh 3vh 3vh;
    font-size: 3vh;
    font-family: system-ui;
    word-wrap: break-word;
}



.titErro{
    font-size: 4vh;
    margin-left: 3vh;
}


.sepErro{
    width: 100%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);
}